.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vw;
  align-items: center;
  h1 {
    font-size: 8rem;
    padding-bottom: 0;
  }
  p {
    a {
      color: inherit;
      button {
        padding: 20px 30px;
        margin-top: 20px;
        border-radius: 20px;
        font-size: 20px;
      }
    }
  }
}
