header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: auto;

  @media only screen and (min-width: $min-width-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    padding: 12px;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: $min-width-md) {
      justify-content: space-between;
    }

    .logo {
      margin-right: 4px;
      vertical-align: text-top;

      @media only screen and (min-width: $min-width-md) {
        width: 75%;
      }
    }

    ul {
      display: flex;
      align-items: baseline;
      list-style: none;
      margin: 20px 0 20px 0px;
      @media only screen and (min-width: $min-width-md) {
        margin: 20px 0 20px 30px;
      }

      .language-switcher {
        .flag-icon-us{
          color: transparent;
          background: url("./../../public/images/us.svg") center center no-repeat;
        }

        .flag-icon-fr{
          color: transparent;
          background: url("./../../public/images/fr.svg") center center no-repeat;
        }
      }

      a {
        color: inherit;
        display: inline-block;
        padding: 0 10px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
      }

    }
  }
}
