@import "./slices/email-signup";
@import "./slices/full-width-image";
@import "./slices/headline-with-button";
@import "./slices/info-with-image";
@import "./slices/text-info";
@import "./footer";
@import "./header";

