.email-signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $min-width-l) {
    flex-direction: row;
    justify-content: space-between;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $min-width-l) {
      align-items: baseline;
    }
    
    p {
      max-width: 723px;
      line-height: 40px;
      font-size: 23px;
      font-weight: 500;
      text-align: center;

      @media only screen and (min-width: $min-width-l) {
        text-align: left;
      }
    }
  }

  .form {
    display: block;
    width: 100%;
    max-width: 500px;
    padding-left: 0;
    font-weight: 900;

    @media only screen and (min-width: $min-width-l) {
      display: flex;
      flex-direction: column;
      margin-left: 165px;
    }

    p {
      margin: 1rem 0 0rem;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 500;
      text-align: left;
    }

    input {
      width: 100%;
      height: 60px;
      margin: 4px 0;
      border-radius: 5px;

      @media only screen and (min-width: $min-width-l) {
        width: 390px;
      }
    }

    .email-input {
      box-sizing: border-box;
      height: 66px;
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 18px;
      color: black;
      background-color: transparent;
      border: 1px solid #2d2d2d;
      border-radius: 6px;
    }

    .btn {
      color: white;
      background-color: black;
    }
  }
}
